body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #e5e7eb;

  background: linear-gradient(-45deg, #0b1220, #1e3a8a, #0ea5e9, #111827);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

h2 {
  color: #38bdf8;
}
